.nav {
  display: flex;
  justify-content: space-between;
  flex: 1;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    align-items: center;
  }

  &__link {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    &--button {
      background: #fff;
      color: #000;
      padding: 0.25em 1em;
      border-radius: 10em;
    }
  }

  &__item + &__item {
    margin-left: 1em;
  }
}
